!!! 5

%html
  %head

    %script{:src => 'javascripts/ext/jquery-1.10.2.js'}
    %script{:src => 'javascripts/ext/d3.v3.js'}
    %script{:src => 'javascripts/f1_fastest_laps.js'}

    %title='Are F1 cars getting faster?'
